@font-face{font-family:'Al-Jazeera-Arabic';font-style:normal;font-weight:300;font-display:swap;src:url('../fonts/AlJazeera-300.woff2') format('woff2')}
@font-face{font-family:'Al-Jazeera-Arabic';font-style:normal;font-weight:400;font-display:swap;src:url('../fonts/AlJazeera-400.woff2') format('woff2')}
@font-face{font-family:'Al-Jazeera-Arabic';font-style:normal;font-weight:700;font-display:swap;src:url('../fonts/AlJazeera-700.woff2') format('woff2')}
